<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <!-- Version -->
    <add key="version" value="2.14.000" />

    <!-- RTOS LIST -->
    <add key="rtoslist" value="freertos" />
    <add key="freertos" value="FreeRTOS" />

    <!-- Processor LIST -->
    <add key="proclist" value="lpc1788,lpc4088,lpc4357" />
	<!-- <add key="proclist" value="lpc1788,lpc4088,lpc4357,lpc546x" /> -->

    <!-- NXP LPC1788 -->
    <add key="lpc1788_manufacturer" value="NXP" />
    <add key="lpc1788_processor" value="LPC1788" />

    <!-- NXP LPC4088 -->
    <add key="lpc4088_manufacturer" value="NXP" />
    <add key="lpc4088_processor" value="LPC4088" />
    
    <!-- NXP LPC4357 -->
    <add key="lpc4357_manufacturer" value="NXP" />
    <add key="lpc4357_processor" value="LPC4357" />

    <!-- LPC1788 Platform LIST -->
    <add key="lpc1788_list" value="uezgui_1788_43wqr,uezgui_1788_56vi,uezgui_1788_70wvt,uezgui_1788_70wvm,dk_57vts_1788" />
    <add key="uezgui_1788_43wqr" value="uEZGUI_1788_43WQR" />
    <add key="uezgui_1788_56vi" value="uEZGUI_1788_56VI" />
    <add key="uezgui_1788_70wvt" value="uEZGUI_1788_70WVT" />
    <add key="uezgui_1788_70wvm" value="uEZGUI_1788_70WVM" />
    <add key="dk_57vts_1788" value="CARRIER_LPC1788" />
    
    <!-- LPC4088 Platform LIST -->
    <add key="lpc4088_list" value="uezgui_4088_43wqn" />
    <add key="uezgui_4088_43wqn" value="uEZGUI_4088_43WQN" />

    <!-- LPC4357 Platform LIST -->
    <add key="lpc4357_list" value="uezgui_4357_50wvn,uezgui_4357_70wvn" />
    <add key="uezgui_4357_50wvn" value="uEZGUI_4357_50WVN" />
    <add key="uezgui_4357_70wvn" value="uEZGUI_4357_70WVN" />

    <!-- IDE/Compiler LIST -->
    <add key="lpc4357_ide_list" value="rowley4300,iarArm9,rowley4Test,iarArm9Test" />
    <add key="lpc4088_ide_list" value="rowley4,iarArm9,rowley4Test,iarArm9Test" />
    <add key="lpc1788_ide_list" value="rowley4,iarArm9,rowley4Test,iarArm9Test" />

    <!-- IAR EWARM -->
    <add key="iarArm9" value="IAR EWARM v9.32.1" />
    <add key="iarArm9_projectDir" value="IAR" />
    <add key="iarArm9_file0" value="Template.ewd" />
    <add key="iarArm9_file1" value="Template.ewp" />
    <add key="iarArm9_file2" value="Template.eww" />
    <add key="iarArm9_file3" value="Template.icf" />
    <add key="iarArm9_file4" value="OzoneProject.jdebug" />
    <add key="iarArm9_file5" value="Template.wspx" />
    <add key="iarArm9_file6" value="Template.csf" />

    <add key="iarArm9Test" value="Test Project IAR EWARM" />
    <add key="iarArm9Test_projectDir" value="IAR_Test" />
    <add key="iarArm9Test_file0" value="Test.ewd" />
    <add key="iarArm9Test_file1" value="Test.ewp" />
    <add key="iarArm9Test_file2" value="Test.eww" />
    <add key="iarArm9Test_file3" value="Test.icf" />
    <add key="iarArm9Test_file4" value="OzoneProject.jdebug" />

    <!-- Rowley CrossWorks -->
    <add key="rowley4" value="Rowley CrossWorks v4.10.8" />
    <add key="rowley4_projectDir" value="CrossWorks" />
    <add key="rowley4_file0" value="Template.hzp" />
    <add key="rowley4_file1" value="Template.hzs" />
    <add key="rowley4_file2" value="Template_MemoryMap.xml" />
    <add key="rowley4_file3" value="Template_placement.xml" />
    <add key="rowley4_file4" value="OzoneProject.jdebug" />
    <add key="rowley4_file5" value="Template.wspx" />
    <add key="rowley4_file6" value="Template.csf" />
    
    <add key="rowley4300" value="Rowley CrossWorks v4.10.8" />
    <add key="rowley4300_projectDir" value="CrossWorks" />
    <add key="rowley4300_file0" value="Template.hzp" />
    <add key="rowley4300_file1" value="Template.hzs" />
    <add key="rowley4300_file2" value="Template_MemoryMap.xml" />
    <add key="rowley4300_file3" value="Template_placement.xml" />
    <add key="rowley4300_file4" value="OzoneProject.jdebug" />
    <add key="rowley4300_file5" value="Template.wspx" />
    <add key="rowley4300_file6" value="Template.csf" />
    <add key="rowley4300_file7" value="Template_M0.hzp" />
    <add key="rowley4300_file8" value="Template_placement_M0.xml" />
    <add key="rowley4300_file9" value="OzoneProject_M0.jdebug" />

    <add key="rowley4Test" value="Test Project Rowley CrossWorks" />
    <add key="rowley4Test_projectDir" value="CrossWorks_Test" />
    <add key="rowley4Test_file0" value="Test.hzp" />
    <add key="rowley4Test_file1" value="Test.hzs" />
    <add key="rowley4Test_file2" value="Test_MemoryMap.xml" />
    <add key="rowley4Test_file3" value="Test_placement.xml" />
    <add key="rowley4Test_file4" value="OzoneProject.jdebug" />
    
  </appSettings>

</configuration>